extend layout

append vars
  - title = 'הורדת ארכיון'
  - footer_links = false

block content
  .container
    :markdown-it(html, plugins=['markdown-it-link-target'])
      ## הורדת ארכיון 'העולם הזה'

      ##### גליונות 'העולם הזה' משנת 1950 עד 1989 - זמינים להורדה

      **סה"כ גליונות זמינים להורדה:** 2,028 (למעט שנת 1964)

      ניתן ואף מומלץ להוריד אליכם את כל הגליונות:


      [**1950-1959** - גליונות 637-1162 - (5 ג'יגה)](https://olam.eu-central-1.linodeobjects.com/archive/thisworld-1950-1959.zip)

      [**1960-1969** - גליונות 1163-1687 - (6 ג'יגה)](https://olam.eu-central-1.linodeobjects.com/archive/thisworld-1960-1969.zip)

      [**1970-1979** - גליונות 1688-2208 - (12 ג'יגה)](https://olam.eu-central-1.linodeobjects.com/archive/thisworld-1970-1979.zip)

      [**1980-1989** - גליונות 2209-2730 - (14 ג'יגה)](https://olam.eu-central-1.linodeobjects.com/archive/thisworld-1980-1989.zip)

